.card {
  font-weight: 300;
  margin-bottom: 1pc;
  color: white;
  min-height: 10pc;
  background-repeat: no-repeat;
  position: relative;
  background-position-y: center;
  background-size: auto 115%;
}

.nameCardText {
  font-size: 2pc;
  margin-bottom: .5pc;
  font-weight: 400;
}

.timeCardText {
  font-size: 0.9pc;
  text-align: right;
  margin-bottom: 1pc;
}

.buttonVote {
  &:active {
    opacity: 0.5;
  }

  padding: 0 2pc;
  background-color: #000000;
  opacity: 0.7;
  margin-left: 0.5pc;
  color: white;
  border: 2px solid white;
}

.thumb-down-button {
  padding: 0.5pc;
  margin-left: 0.5pc;
  background-color: #FBBD4A;
}

.show-percentage {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  display: flex
}

button.thumb-down-button {
  &:focus {
    border: 2px solid white;
  }

  border: 2px solid transparent;
}

.thumb-up-button {
  padding: 0.5pc;
  margin-left: 0.5pc;
  background-color: #3CBBB4;
}

.thumb-up-button img {
  width: 1.4pc;
}

.thumb-down-button img {
  width: 1.4pc;
}

.thumb-show {
  height: 100%;
  position: relative;
}

.thumb-down {
  position: absolute;
  top: 10%;
  right: 2pc;
  font-size: 1.7pc;
  font-weight: 400;
}

.thumb-up {
  position: absolute;
  top: 10%;
  left: 2pc;
  font-size: 1.7pc;
  font-weight: 400;
}


button.thumb-up-button {
  &:focus {
    border: 2px solid white;
  }

  border: 2px solid transparent;
}
